html {
    scroll-behavior: smooth;
}

body {
    overflow: auto; /* Hide scrollbars */
}

.snap-wrapper {
	flex-basis: 50%;
	max-height: 100vh;
	overflow-y: scroll;
	border: 1px solid gray;
	scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    scroll-snap-align: start;
}
  
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
header .container {
    position: relative;
    z-index: 2;
}
  
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.d-flex {
    display: flex;
}

.custom-page {
    min-height: 100vh;
}

.black-bg {
    background-color: #000000;
}

.gif-container {
    height: 100vh;
}

.gif-image {
    width: 50vw;
}

.floating-media {
    width: 500px;
    height: 350px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .gif-container {
        height: 100vh;
        padding-top: 30vh;
    }

    .floating-media {
        width: 450px;
        height: 220px;
        margin-left: 18vw;
        margin-top: .5rem;
    }

    .media-video {
        padding-top: 1vh;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .gif-container {
        height: 100vh;
        padding-top: 30vh;
    }

    .gif-image {
        margin-top: 10vh;
    }

    .floating-media {
        width: 250px;
        height: 125px;
        margin-left: 3rem;
        margin-top: 1rem;
    }

    .media-video {
        padding-top: 8vh;
    }
}
